@use '../abstracts' as *;

.newsletter {
  &__form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  &__form-input {
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
}
