@use '../abstracts' as *;

.header {
  &__container {
    padding: 1rem;
  }
  &__wrapper-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-top: 1rem;
    z-index: 30;
  }
  &__logo {
    float: left;
  }
  &__logo-wrapper {
    z-index: 30;
  }
  &__nav {
    display: none;
  }
  &__nav-list {
    padding: 0;
    display: grid;
    margin-top: 6rem;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    background-color: $VeryDarkBlue2;
    flex-direction: column;
    overflow: scroll;
  }
  &__nav-list-item {
    list-style-type: none;
    border-bottom: 1px solid grey;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  &__nav-list-item:nth-child(1) {
    border-top: 1px solid grey;
    margin-top: 8rem;
  }
  &__nav-list-item:nth-child(4) {
    border-bottom: none;
    margin-top: 1rem;
  }
  &__nav-link--mobile-border {
    border: 2px solid $White;
    padding: 1rem 3rem;
    border-radius: 0.6rem;
    @include responsive(mobile-md) {
      padding: 1rem 5rem;
    }
  }
  &__socials-container {
    position: relative;
    top: 10rem;
    font-size: 1.6rem;
    color: $White;
    padding-bottom: 3rem;
  }
  &__fb-icon {
    margin-right: 1.8rem;
  }
  &__social-icon-link {
    color: $White;
  }
}

.hamburger {
  float: right;
  padding: 0;
  position: relative;
  left: 0.5rem;
  z-index: 10;
}
