@use '../abstracts' as *;

.header {
  &__container {
    padding: 1rem;
    @include responsive(mobile-md) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
    @include responsive(laptop) {
      padding-left: 4rem;
      padding-right: 4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1300px;
    }
  }
  &__wrapper-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-top: 1rem;
    z-index: 30;
    @include responsive(laptop) {
      display: initial;
    }
  }
  &__logo {
    float: left;
    @include responsive(laptop) {
      position: relative;
      top: 1rem;
    }
  }
  &__logo-wrapper {
    z-index: 30;
  }
  &__nav {
    display: none;
    @include responsive(laptop) {
      display: block;
    }
  }
  &__nav-list {
    padding: 0;
    margin-top: 6rem;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    background-color: $VeryDarkBlue2;
    flex-direction: column;
    overflow-y: scroll;
    @include responsive(laptop) {
      position: initial;
      background-color: $White;
      color: $VeryDarkBlue;
      overflow: hidden;
      position: relative;
      top: 1.2rem;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  &__nav-list-item {
    list-style-type: none;
    border-bottom: 1px solid grey;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    @include responsive(laptop) {
      border-bottom: none;
      padding: 0;
      margin: 0;
      padding: 1rem 1.3rem;
    }
  }
  &__nav-list-item:nth-child(1) {
    border-top: 1px solid grey;
    margin-top: 8rem;
    @include responsive(laptop) {
      border-top: none;
      margin-top: 0;
    }
  }
  &__nav-list-item:nth-child(3) {
    @include responsive(laptop) {
      padding-right: 2rem;
    }
  }
  &__nav-list-item:nth-child(4) {
    border-bottom: none;
    margin-top: 1rem;
    @include responsive(laptop) {
      cursor: pointer;
      margin-top: 0;
      margin-right: 0;
      background-color: $SoftRed;
      padding: 1rem 3rem;
      box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
      border-radius: 0.4rem;
    }
  }
  &__nav-link--mobile-border {
    border: 2px solid $White;
    padding: 1rem 3rem;
    border-radius: 0.6rem;
    @include responsive(mobile-md) {
      padding: 1rem 5rem;
    }
    @include responsive(laptop) {
      padding: 0;
      border: 0;
    }
  }
  &__socials-container {
    position: relative;
    top: 10rem;
    font-size: 1.6rem;
    color: $White;
    padding-bottom: 3rem;
    @include responsive(laptop) {
      display: none;
    }
  }
  &__fb-icon {
    margin-right: 1.8rem;
  }
  &__social-icon-link {
    color: $White;
  }
}

.hamburger {
  float: right;
  padding: 0;
  position: relative;
  left: 0.5rem;
  z-index: 10;
}
.header__hamburger-wrapper {
  @include responsive(laptop) {
    display: none;
  }
}
