@use '../abstracts' as *;

.newsletter {
  margin-top: 6rem;
  background-color: $SoftBlue;
  &__container {
    text-align: center;
    padding: 3rem 1rem;
    @include responsive(mobile-md) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
    @include responsive(tablet) {
      margin: 0 auto;
      max-width: 600px;
      padding: 4rem;
    }
  }
}
