/**
* Basic typography style for copy text
*/
@use '../abstracts' as *;

// Header Typography Styling
.header {
  &__nav-link {
    color: $White;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    @include responsive(laptop) {
      color: $VeryDarkBlue;
      text-decoration: none;
      font-size: 0.8rem;
      letter-spacing: 2px;
    }
  }
  &__nav-link:hover {
    @include responsive(laptop) {
      color: $SoftRed;
    }
  }
  &__nav-link--mobile-border {
    @include responsive(laptop) {
      color: $White;
    }
  }
  &__nav-link--mobile-border:hover {
    @include responsive(laptop) {
      color: $White;
    }
  }
}

// Hero Typography Styling
.hero {
  &__text-container,
  &__btn-wrapper {
    text-align: center;
  }
  &__title {
    line-height: 1.5;
    color: $VeryDarkBlue;
    font-size: 1.9rem;
    @include responsive(tablet) {
      text-align: left;
    }
    @include responsive(laptop) {
      font-size: 2.4rem;
      width: 90%;
    }
    @include responsive(laptop-lg) {
      font-size: 2.7rem;
    }
  }
  &__desc {
    line-height: 1.6;
    font-size: 0.9rem;
    color: $GrayishBlue;
    @include responsive(tablet) {
      text-align: left;
    }
    @include responsive(laptop) {
      font-size: 1rem;
      max-width: 400px;
    }
  }
}

// Features Typography Styling
.features {
  &__title {
    @include responsive(laptop-lg) {
      font-size: 1.7rem;
    }
  }
  &__desc {
    line-height: 1.6;
    font-size: 0.9rem;
    color: $GrayishBlue;
    @include responsive(laptop-lg) {
      font-size: 1rem;
    }
  }
  &__tabTitle {
    color: $VeryDarkBlue;
    @include responsive(laptop) {
      font-size: 1.2rem;
    }
    @include responsive(laptop-lg) {
      font-size: 1.4rem;
    }
  }
  &__tabDesc {
    line-height: 1.6;
    font-size: 0.9rem;
    color: $GrayishBlue;
    @include responsive(tablet) {
      margin-bottom: 1.3rem !important;
    }
    @include responsive(laptop) {
      margin: 0 auto;
      max-width: 700px;
      margin-bottom: 1rem;
    }
    @include responsive(laptop-lg) {
      font-size: 1rem;
    }
  }
  &__tabLink-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive(tablet) {
      justify-content: left;
    }
  }
  &__tabLink {
    display: none;
    border: 0;
    padding: 1rem 1.7rem;
    font-size: 0.9rem;
    border-radius: 0.4rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
    background-color: $SoftBlue;
    color: $White;
    text-decoration: none;
    @include responsive(tablet) {
      display: block;
    }
  }
  &__tabText-wrapper {
    @include responsive(tablet) {
      text-align: left;
    }
  }
}

// Download Section Typography Styling
.download {
  &__title {
    color: $VeryDarkBlue;
    @include responsive(laptop-lg) {
      font-size: 1.7rem;
    }
  }
  &__desc {
    line-height: 1.6;
    font-size: 0.9rem;
    color: $GrayishBlue;
    @include responsive(laptop-lg) {
      font-size: 1rem;
    }
  }
}

// FAQ Section Typography Styling
.faq {
  &__title {
    color: $VeryDarkBlue;
    line-height: 1.5;
    @include responsive(laptop-lg) {
      font-size: 1.7rem;
    }
  }
  &__desc {
    line-height: 1.6;
    font-size: 0.9rem;
    color: $GrayishBlue;
    @include responsive(tablet) {
      max-width: 400px;
      margin: 0 auto;
    }
    @include responsive(laptop-lg) {
      font-size: 1rem;
      max-width: 500px;
    }
  }
}

// Newsletter Section Typography Styling
.newsletter {
  &__title-1 {
    color: $White;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 0.8rem;
    line-height: 1.5;
    @include responsive(laptop-lg) {
      margin-bottom: 1.8rem;
    }
  }
  &__title-2 {
    color: $White;
    font-weight: 400;
    line-height: 1.5;
    @include responsive(laptop-lg) {
      font-size: 1.7rem;
    }
  }
  &__submit-btn {
    font-size: 0.9rem;
  }
}

::placeholder {
  color: #d2d2d2;
  font-size: 0.9rem;
}

// Footer Typography Styling
.footer {
  &__nav-link,
  &__fb-icon,
  &__twitter-icon,
  &__author,
  &__author-link {
    color: $White;
  }
  &__fb-icon,
  &__twitter-icon {
    font-size: 1.6rem;
  }
  &__fb-icon:hover,
  &__twitter-icon:hover {
    color: $SoftRed;
  }
  &__social-icon-link {
    margin-right: 2.6rem;
  }
  &__social-icon-link:nth-child(2) {
    margin-right: 0;
  }
  &__nav-list {
    margin-top: 2.8rem;
    margin-bottom: 3rem;
  }
  &__nav-list-item {
    margin-bottom: 2.5rem;
  }
  &__nav-link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    @include responsive(tablet) {
      font-size: 0.8rem;
    }
  }
  &__nav-link:hover {
    color: $SoftRed;
  }
  &__author {
    font-size: 0.6rem;
  }
}
