// Font
$PrimaryFont: "Rubik", sans-serif;

// Colors
$SoftBlue: hsl(231, 69%, 60%);
$SoftRed: hsl(0, 94%, 66%);
$White: #fff;

$GrayishBlue: hsl(229, 8%, 60%);
$VeryDarkBlue: hsl(229, 31%, 21%);
$VeryDarkBlue2: hsla(229, 31%, 21%, 0.952);
